@font-face {
    font-family: 'FONTSPRING DEMO - DIN 2014';
    src: url('FONTSPRINGDEMO-DIN2014Italic.woff2') format('woff2'),
        url('FONTSPRINGDEMO-DIN2014Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'DIN 2014';
    src: url('DIN2014-Regular.woff2') format('woff2'),
        url('DIN2014-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'FONTSPRING DEMO - DIN 2014 Narrow';
    src: url('FONTSPRINGDEMO-DIN2014NarrowLightRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-DIN2014NarrowLightRegular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - DIN 2014 Narrow Demi';
    src: url('FONTSPRINGDEMO-DIN2014NarrowDemiRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-DIN2014NarrowDemiRegular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - DIN 2014 Demi';
    src: url('FONTSPRINGDEMO-DIN2014DemiItalic.woff2') format('woff2'),
        url('FONTSPRINGDEMO-DIN2014DemiItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - DIN 2014 Narrow';
    src: url('FONTSPRINGDEMO-DIN2014NarrowBoldRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-DIN2014NarrowBoldRegular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - DIN 2014 Narrow';
    src: url('FONTSPRINGDEMO-DIN2014NarrowRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-DIN2014NarrowRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - DIN 2014';
    src: url('FONTSPRINGDEMO-DIN2014Regular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-DIN2014Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - DIN 2014';
    src: url('FONTSPRINGDEMO-DIN2014BoldItalic.woff2') format('woff2'),
        url('FONTSPRINGDEMO-DIN2014BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - DIN 2014 Demi';
    src: url('FONTSPRINGDEMO-DIN2014DemiRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-DIN2014DemiRegular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - DIN 2014';
    src: url('FONTSPRINGDEMO-DIN2014BoldRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-DIN2014BoldRegular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - DIN 2014';
    src: url('FONTSPRINGDEMO-DIN2014LightItalic.woff2') format('woff2'),
        url('FONTSPRINGDEMO-DIN2014LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - DIN 2014 Extra';
    src: url('FONTSPRINGDEMO-DIN2014ExtraBoldRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-DIN2014ExtraBoldRegular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'QType';
    src: url('QTypeExtdBook.woff2') format('woff2'),
        url('QTypeExtdBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - DIN 2014';
    src: url('FONTSPRINGDEMO-DIN2014LightRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-DIN2014LightRegular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - DIN 2014 Extra';
    src: url('FONTSPRINGDEMO-DIN2014ExtraLightItalic.woff2') format('woff2'),
        url('FONTSPRINGDEMO-DIN2014ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - DIN 2014 Extra';
    src: url('FONTSPRINGDEMO-DIN2014ExtraBoldItalic.woff2') format('woff2'),
        url('FONTSPRINGDEMO-DIN2014ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - DIN 2014 Narrow Extra';
    src: url('FONTSPRINGDEMO-DIN2014NarrowExtraBoldRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-DIN2014NarrowExtraBoldRegular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - DIN 2014 Extra';
    src: url('FONTSPRINGDEMO-DIN2014ExtraLightRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-DIN2014ExtraLightRegular.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - DIN 2014 Narrow Extra';
    src: url('FONTSPRINGDEMO-DIN2014NarrowExtraLightRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-DIN2014NarrowExtraLightRegular.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

